<div class="col-md-6">
    <h3>Add Comment:</h3>

    <form class="form name-comment">
      <div class="form-group">
        <label for="name-comment">Name:</label>
        <input class="form-input" type="text" id="name-comment" name="name-comment" />
      </div>
      <div class="form-group">
        <label for="comment-description">Comment:</label>
        <textarea class="form-input" id="comment-description" name="comment-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  
<script src="./js/comment.js"></script>

  